
@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-Thin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedThin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-Light.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-Extended.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-Italic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-Medium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedMedium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-MediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-SemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedSemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-SemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-Bold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-Heavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedHeavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-HeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSlab-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSlab-ExtendedHeavyItalic.ttf') format('truetype');
}
